# Created by .ignore support plugin (hsz.mobi)
.idea/
1.png
10.png
11.png
12.png
13.png
14.png
15.png
1_table.pdf
2.png
3.png
4.png
5.png
6.png
7.png
8.png
9.png
__pycache__/
aae_bernoulli_latentdist.pdf
aae_bernoulli_reconstruction.pdf
aae_gauss_latentdist.pdf
aae_gauss_reconstruction.pdf
aae_uniform_latentdist.pdf
aae_uniform_reconstruction.pdf
#check.py
#check_higher_sizes.py
#check_sizes.py
#interpol_table.pdf
latent1.png
latent10.png
latent11.png
latent12.png
latent13.png
latent14.png
latent15.png
latent2.png
latent3.png
latent4.png
latent5.png
latent6.png
latent7.png
latent8.png
latent9.png
log_ADVAE_uniform_refined_model_v3_2/
log_VAE_bernoulli_lam01_refined_model_v3/
log_VAE_bernoulli_lam01_refined_model_v3_2/
log_VAE_bernoulli_lam01_refined_model_v3_3run/
log_VAE_gauss_higher_refined_model_v3/
log_VAE_gauss_lam01_refined_model_v3/
log_VAE_gauss_lam1_refined_model_v3/
log_aae_bernoulli_higher_lindisc_noanneal_refined_model_v3/
log_aae_bernoulli_lindisc_noanneal_refined_model_v3/
log_aae_bernoulli_lower_lindisc_noanneal_refined_model_v3/
log_aae_gauss2_noanneal_refined_model_v3/
log_aae_gauss3_noanneal_refined_model_v3/
log_aae_gauss_lindisc_noanneal_refined_model_v3/
log_aae_gauss_noanneal_refined_model_v3/
log_aae_gauss_refined_model_v3/
log_probaVAE_bernoulli_refined_model_v3/
log_proba_aae_bernoulli_lindisc_noanneal_refined_model_v3/
log_proba_aae_refined_model_v3/
log_refined_model_v2/
log_refined_model_v21/
log_refined_model_v3/
log_semmi_csak_proba_VAE_bernoulli_lam01_refined_model_v3_3run/
#main.py
#model.py
#modelv3.py
np_interpol_table.pdf
np_table.pdf
np_table.png
real1.png
real10.png
real11.png
real12.png
real13.png
real14.png
real15.png
real2.png
real3.png
real4.png
real5.png
real6.png
real7.png
real8.png
real9.png
#script_article_content_interpolation.py
#script_article_content_reconstruction.py
#script_make_sample.py
#table.pdf
vae_bernoulli_latentdist.pdf
vae_bernoulli_reconstruction.pdf
vae_gauss_latentdist.pdf
vae_gauss_reconstruction.pdf
